body {
    background-color: #7700ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#map {
    height: 400px;
    width: 600px;
    background-color: #c694ff;
    float: left;
    margin-right:20px;
}
button {
    border-radius: 3px;
    color: #000000;
    background-color: #7700ff;
    margin-left: 10px;
    margin-top: 10px;
    font-style: inherit;
}