@charset "UTF-8";
/* CSS Document */

html, body, header, nav, main, footer, div, section {padding:0; margin:0;}
header, nav, main, footer, section {display:block;}

/* -- layout --*/

body, html {
	background-color:#fff; 
	color:#000; 
	font-family:verdana, sans-serif; 
	font-size:12px;
	height: 100%;
}
#wrapper {
	background-color:#fff;  
	min-height: 100%;
	margin: 0px 20px -40px;
	
}
header {
	padding:10px;
	
}
header a {
	position: absolute;
	right: 30px;
	top: 35px;
}
nav {
	display: none;
}
main {
	padding:0px;
}

footer {
	background-color: #77CAC8;
	height: 30px;
	width: 100%;
	text-align: center; 
	font-size: 0.8em;
	padding: 5px 0px;
}

/* -- innehåll -- */

#content {
	max-width: 800px; 
	margin: 0 auto -40px; 
	text-align: center;
}
#backBtn {
	
}
#popupHelp {
	float: left;
	margin-right: 10px;
}
#resList {
	float: left;
	margin-top: 30px;
	list-style: none;
}
#filters {
	height: 150px;
	width: 340px;
	margin-left: 460px;
	margin-top: 20px;
}
#map {
	border: solid thin;
	height: 340px;
	margin-left: 460px;
	margin-top: 0px;
}
#resDisplay {
	clear: left;
	padding: 10px;
}
#sortMenu {
	position: absolute;
	margin-left: 320px;
}
#sortMenu select {
	height: 20px;
}

/* -- klasser -- */
.push {
	height: 40px;
}
.popup {
	background-color: #77CAC8;
	border-radius: 15px;
	padding: 8px 20px;
	text-decoration: none;
	color: #000;
	position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popuptext {
	visibility: hidden;
    width: 200px;
	padding: 10px 15px;
    background-color:#77CAC8;
    color: #000;
    text-align: left;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 120%;
    margin-left: -25px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.button {
	background-color: #77CAC8;
	border: none;
	border-radius: 15px;
	padding: 8px 20px;
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.button:hover {
	background-color: #368C89;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.resBox {
	height: 120px;
	border: solid 1px;
	width: 450px;
	margin-bottom: 20px;
	margin-left: -40px;
	text-align: left;
	
}
.resBox img {
	float: left;
	height: 120px;
	padding-right: 10px;
}
.filter {
	display: inline-block;
	padding: 8px;
}

